.buildpath
.DS_Store
.idea/
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
nbproject

__pycache__/

tmp/

docker-compose.local.yml

# Distribution / packaging
.Python
env/
venv/

# pyenv
.python-version

# media folder
media/

# example videos
*.mp4
*.mkv
